/* @tailwind base; */
@import url("https://fonts.googleapis.com/css2?family=Lunasima&family=Open+Sans:wght@300&family=Outfit:wght@900&family=Quicksand&family=Roboto:wght@500&family=Ubuntu:wght@300;400;700&display=swap");
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lunasima", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-family: "Outfit", sans-serif;
	font-family: "Quicksand", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Ubuntu", sans-serif;
}

.ant-modal-body {
	text-align: center !important;
	padding: 20px !important;
}

.ant-modal-title,
.ant-modal-footer {
	text-align: center !important;
}

.ant-space {
	width: 100%;
	justify-content: center;
}
